<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Home</title>

	<link rel="stylesheet" type="text/css" href="css/webquantica-grid.css">
	<link rel="stylesheet" type="text/css" href="css/lity.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="mobile.css">


	<script src="js/jquery.js"></script>
	<script src="js/webquantica-grid.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/carousel.js"></script>
	<script src="js/lity.min.js"></script>
	<script src="js/efeitos.js"></script>
	<script src="js/rellax.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
</head>
	<body>

		<header class="wq-header wq-header_horizontal">
			<div class="wq-header_top">
				<div class="wq-container">
					<div class="wq-flex">
						<ul class="wq-midias-sociais wq-lista-inline">
							<li><a href="" target="_blank" class="flaticon-instagram-2"></a></li>
							<li><a href="" target="_blank" class="flaticon-facebook-1"></a></li>
							<li><a href="" target="_blank" class="flaticon-youtube-1"></a></li>
						</ul>
						<ul class="wq-contatos wq-lista-inline">
							<li>
								<a href="mailto:">
									<img src="img/header_icone-1.png" alt="" title="">
									<p>
										<span>solicite um orçamento</span>
										contato@globocopiadoras.com.br									
									</p>
								</a>
							</li>
							<li>
								<a href="tel:">
									<img src="img/header_icone-2.png" alt="" title="">
									<p>
										<span>TELEvendas</span>
										62 3261-1177
									</p>
								</a>
							</li>
							<li>
								<a href="">
									<img src="img/header_icone-3.png" alt="" title="">
									<p>
										<span>WHATSApp</span>
										62 9.9695-4146
									</p>
								</a>
							</li>
						</ul>
						<ul class="wq-extra_links wq-lista-inline">
							<li>
								<a href="">
									<span>suporte técnico</span>
									<span class="flaticon-cog-2" title=""></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="wq-header_bottom">
				<div class="wq-container">
					<div class="wq-flex">
						<a href="" class="wq-logo">
							<figure>
								<img src="img/logo.png" alt="" title="">
							</figure>
						</a>
						<div class="wq-btn_menu">
							<hr>
							<hr>
							<hr>
						</div>
						<nav class="wq-menu_principal">
							<ul class="wq-lista-inline">
								<li><a href="index.html" class="active">HOME</a></li>
								<li><a href="sobre-nos.html">sobre a globo</a></li>
								<li><a href="">Locação de impressoras</a></li>
								<li><a href="">Vendedores</a></li>
								<li><a href="">BLOG</a></li>
								<li><a href="contato.html">contato</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>

		<section class="wq-categories_bar">
			<div class="wq-container">
				<ul class="wq-lista-inline">
					<li class="wq-dropdown">
						<a href="">Impressoras de Cartão PVC</a>
						<ul>
							<li>
								<a href="">Simplex (só frente)</a>
							</li>
							<li>
								<a href="">Duplex (Frente e verso)</a>
							</li>
							<li>
								<a href="">Retransferência</a>
							</li>
						</ul>
					</li>
					<li class="wq-dropdown">
						<a href="">Ribbons</a>
						<ul>
							<li>
								<a href="">Datacard</a>
							</li>
							<li>
								<a href="">EVOLIS</a>
							</li>
							<li>
								<a href="">FARGO</a>
							</li>
						</ul>
					</li>
					<li><a href="">Software</a></li>
					<li><a href="">Promoções</a></li>
					<li><a href="">produção de crachás</a></li>
					<li><a href="">emissão instantânea</a></li>
				</ul>
			</div>
		</section>

		<section class="wq-404">
			<div class="wq-cto">
				<h1>Erro 404 - Página não encontrada.</h1>
				<a href="#" class="wq-btn">Voltar</a>
			</div>
		</section>
		
		<footer class="wq-footer">
			<div class="wq-footer_top">
				<div class="wq-container">
					<div class="wq-flex">
						<div class="wq-box_3 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
							<h4>Redes sociais</h4>
							<ul class="wq-midias-sociais wq-lista-inline">
								<li><a href="" target="_blank" class="flaticon-instagram-2"></a></li>
								<li><a href="" target="_blank" class="flaticon-facebook-1"></a></li>
								<li><a href="" target="_blank" class="flaticon-youtube-1"></a></li>
							</ul>

							<a href="" class="wq-logo">
								<figure>
									<img src="img/logo.png" alt="" title="">
								</figure>
							</a>
						</div>
						<div class="wq-box_3 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
							<h4>acesso rápido</h4>
							<ul class="wq-menu_footer">
								<li><a href="" class="active">HOME</a></li>
								<li><a href="">sobre a globo</a></li>
								<li><a href="">Locação de impressoras</a></li>
								<li><a href="">Vendedores</a></li>
								<li><a href="">BLOG</a></li>
								<li><a href="">contato</a></li>
							</ul>
						</div>
						<div class="wq-box_3 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
							<h4>FORMAS DE PAGAMENTO</h4>
							<ul class="wq-formas_de_pagamento">
								<li>
									<img src="img/pagamento_icone-1.png" alt="" title="">
									<div>
										<p>Depósito Bancário</p>
									</div>
								</li>
								<li>
									<img src="img/pagamento_icone-2.png" alt="" title="">
									<div>
										<p>boleto</p>
									</div>
								</li>
								<li>
									<img src="img/pagamento_icone-3.png" alt="" title="">
									<div>
										<p>cartão de crédito</p>
										<img src="img/cartao_01.png" alt="" title="">
										<img src="img/cartao_02.png" alt="" title="">
									</div>
								</li>
							</ul>
						</div>
						<div class="wq-box_3 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
							<h4>Contato</h4>
							<ul class="wq-footer_contatos">
									<li>
										<a href="mailto:">
											<img src="img/footer_icone-1.png" alt="" title="">
											<div>
												<p>
													<span>solicite um orçamento</span>
													contato@globocopiadoras.com.br
												</p>
											</div>
										</a>
									</li>
									<li>
										<a href="tel:">
											<img src="img/footer_icone-2.png" alt="" title="">
											<div>
												<p>
													<span>TELEvendas</span>
													62 3261-1177
												</p>
											</div>
										</a>
									</li>
								<li>
									<a href="">
										<img src="img/footer_icone-3.png" alt="" title="">
										<div>
											<p>
												<span>WHATSApp</span>
												62 9.9695-4146</p>
										</div>
									</a>
								</li>
								<li>
									<img src="img/footer_icone-4.png" alt="" title="">
									<div>
										<p>
											<span>nos faça uma visita</span>
											RUA PIRAPITINGA QD 73 LOTE 03 BAIRRO SANTA GENOVEVA, GOIÂNIA - GO, 74670-350
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="wq-footer_bottom">
				<div class="wq-container">
					<div class="wq-flex">
						<p>© 2020 | Globo Soluções em Impressão | all rights reserved | CNPJ: 03.064.495/0001-00</p>
						<p>
							Desenvolvido por:
							<a href="https://atomdigital.com.br/" target="_blank">
								<img src="img/logo-atom.png" alt="" title="">
							</a>
						</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>