<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Contato</title>

	<link rel="stylesheet" type="text/css" href="css/webquantica-grid.css">
	<link rel="stylesheet" type="text/css" href="css/lity.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="css/contato.css">
	<link rel="stylesheet" type="text/css" href="mobile.css">


	<script src="js/jquery.js"></script>
	<script src="js/webquantica-grid.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/carousel.js"></script>
	<script src="js/lity.min.js"></script>
	<script src="js/efeitos.js"></script>
	<script src="js/rellax.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
</head>
	<body>
		<header class="wq-header wq-header_horizontal">
			<div class="wq-header_top">
				<div class="wq-container">
					<div class="wq-flex">
						<ul class="wq-midias-sociais wq-lista-inline">
							<li><a href="" target="_blank" class="flaticon-instagram-2"></a></li>
							<li><a href="" target="_blank" class="flaticon-facebook-1"></a></li>
							<li><a href="" target="_blank" class="flaticon-youtube-1"></a></li>
						</ul>
						<ul class="wq-contatos wq-lista-inline">
							<li>
								<a href="mailto:">
									<img src="img/header_icone-1.png" alt="" title="">
									<p>
										<span>solicite um orçamento</span>
										contato@globocopiadoras.com.br									
									</p>
								</a>
							</li>
							<li>
								<a href="tel:">
									<img src="img/header_icone-2.png" alt="" title="">
									<p>
										<span>TELEvendas</span>
										62 3261-1177
									</p>
								</a>
							</li>
							<li>
								<a href="">
									<img src="img/header_icone-3.png" alt="" title="">
									<p>
										<span>WHATSApp</span>
										62 9.9695-4146
									</p>
								</a>
							</li>
						</ul>
						<ul class="wq-extra_links wq-lista-inline">
							<li>
								<a href="">
									<span>suporte técnico</span>
									<span class="flaticon-cog-2" title=""></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="wq-header_bottom">
				<div class="wq-container">
					<div class="wq-flex">
						<a href="" class="wq-logo">
							<figure>
								<img src="img/logo.png" alt="" title="">
							</figure>
						</a>
						<div class="wq-btn_menu">
							<hr>
							<hr>
							<hr>
						</div>
						<nav class="wq-menu_principal">
							<ul class="wq-lista-inline">
								<li><a href="" class="active">HOME</a></li>
								<li><a href="">sobre a globo</a></li>
								<li><a href="">Locação de impressoras</a></li>
								<li><a href="">Vendedores</a></li>
								<li><a href="">BLOG</a></li>
								<li><a href="">contato</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>

		<section class="wq-categories_bar">
			<div class="wq-container">
				<ul class="wq-lista-inline">
					<li class="wq-dropdown">
						<a href="">Impressoras de Cartão PVC</a>
						<ul>
							<li>
								<a href="">Simplex (só frente)</a>
							</li>
							<li>
								<a href="">Duplex (Frente e verso)</a>
							</li>
							<li>
								<a href="">Retransferência</a>
							</li>
						</ul>
					</li>
					<li class="wq-dropdown">
						<a href="">Ribbons</a>
						<ul>
							<li>
								<a href="">Datacard</a>
							</li>
							<li>
								<a href="">EVOLIS</a>
							</li>
							<li>
								<a href="">FARGO</a>
							</li>
						</ul>
					</li>
					<li><a href="">Software</a></li>
					<li><a href="">Promoções</a></li>
					<li><a href="">produção de crachás</a></li>
					<li><a href="">emissão instantânea</a></li>
				</ul>
			</div>
		</section>
		
		<section class="wq-banner_pagina">
			<figure>
				<img src="img/breadcrumbs.jpg" alt="" title="">
			</figure>
			<div class="wq-breadcrumbs">
				<div class="wq-container">
					<div class="wq-flex">
						<h1>Globo Cards</h1>
						<p><a href="index.html">Home</a> » Sobre a Globo</p>				
					</div>
				</div>
			</div>

		</div>
		</section>

		<section class="wq-contato_01">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-box_3 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12">
						<div class="wq-contato_info">
							<ul class="wq-midias-sociais wq-lista-inline">
								<li><a href="" target="_blank" class="flaticon-instagram-2"></a></li>
								<li><a href="" target="_blank" class="flaticon-facebook-1"></a></li>
								<li><a href="" target="_blank" class="flaticon-youtube-1"></a></li>
							</ul>
							<ul class="wq-fale_conosco">
								<li>
									<a href="mailto:">
									<img src="img/header_icone-1.png" alt="Email icone" title="Email icone">
									<p>
										<span>solicite um orçamento</span>
										contato@globocopiadoras.com.br</p>
									</a>
								</li>
								<li>
									<a href="tel:">
									<img src="img/header_icone-2.png" alt="Telefone icone" title="Telefone icone">
									<p>
									<span>TELEvendas</span>
									62 3261-1177</p>
									</a>
								</li>
								<li>
									<a href="">
										<img src="img/header_icone-3.png" alt="Whatsapp icone" title="Whatsapp icone">
										<p>
										<span>WHATSApp</span>
										62 9.9695-4146</p>
									</a>
								</li>
								<li>
									<img src="img/header_icone-5.png" alt="" title="">
									<div>
										<p>
										<span>nos faça uma visita</span>
										RUA PIRAPITINGA QD 73 LOTE 03 BAIRRO SANTA GENOVEVA, GOIÂNIA - GO, 74670-350</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="wq-box_9 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12">
						<div class="wq-contato_form">
							<h2 class="wq-titulo_1">FALE COM UM DE NOSSOS CONSULTORES</h2>
							<form>
								<div class="wq-flex">
									<div class="wq-box_6 wq-box_cp-12 wq-box_cl-12 wq-box_tp-6">
										<input type="text" name="send-data-name" placeholder="Nome" required="">
									</div>
									<div class="wq-box_6 wq-box_cp-12 wq-box_cl-12 wq-box_tp-6">
										<input type="email" placeholder="mail" required="">
									</div>
									<div class="wq-box_6 wq-box_cp-12 wq-box_cl-12 wq-box_tp-6">
										<input type="text" placeholder="Telefone" required="">
									</div>
									<div class="wq-box_6 wq-box_cp-12 wq-box_cl-12 wq-box_tp-6">
										<div class="wq-select">
											<select name="send-data-atendimento" required="">
													<option selected="" disabled="" value="">Quero atendimento para:</option>
													<option value="">Vendas</option>
													<option value="">Suporte técnico</option>
													<option value="">Financeiro</option>
													<option value="">Diretoria</option>
											</select>
										</div>
									</div>
									<div class="wq-box_12">
										<textarea placeholder="Quer deixar alguma mensagem?" required=""></textarea>
									</div>
									<div class="wq-box_6 wq-box_cp-12 wq-box_cl-12 wq-box_tp-6">
										<button type="submit" class="wq-btn wq-btn_azul">Enviar</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="wq-mapa">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3822.1572724895354!2d-49.246580584598696!3d-16.669011549514803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935e8aa7d34345b1%3A0x55fc816fcbaeb6be!2sGlobo+Print+Solutions!5e0!3m2!1spt-BR!2sbr!4v1535755059608" width="1920" height="450" style="border:0" allowfullscreen=""></iframe>
		</section>

		
		
		<footer class="wq-footer">
			<div class="wq-footer_top">
				<div class="wq-container">
					<div class="wq-flex">
						<div class="wq-box_3 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
							<h4>Redes sociais</h4>
							<ul class="wq-midias-sociais wq-lista-inline">
								<li><a href="" target="_blank" class="flaticon-instagram-2"></a></li>
								<li><a href="" target="_blank" class="flaticon-facebook-1"></a></li>
								<li><a href="" target="_blank" class="flaticon-youtube-1"></a></li>
							</ul>

							<a href="" class="wq-logo">
								<figure>
									<img src="img/logo.png" alt="" title="">
								</figure>
							</a>
						</div>
						<div class="wq-box_3 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
							<h4>acesso rápido</h4>
							<ul class="wq-menu_footer">
								<li><a href="" class="active">HOME</a></li>
								<li><a href="">sobre a globo</a></li>
								<li><a href="">Locação de impressoras</a></li>
								<li><a href="">Vendedores</a></li>
								<li><a href="">BLOG</a></li>
								<li><a href="">contato</a></li>
							</ul>
						</div>
						<div class="wq-box_3 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
							<h4>FORMAS DE PAGAMENTO</h4>
							<ul class="wq-formas_de_pagamento">
								<li>
									<img src="img/pagamento_icone-1.png" alt="" title="">
									<div>
										<p>Depósito Bancário</p>
									</div>
								</li>
								<li>
									<img src="img/pagamento_icone-2.png" alt="" title="">
									<div>
										<p>boleto</p>
									</div>
								</li>
								<li>
									<img src="img/pagamento_icone-3.png" alt="" title="">
									<div>
										<p>cartão de crédito</p>
										<img src="img/cartao_01.png" alt="" title="">
										<img src="img/cartao_02.png" alt="" title="">
									</div>
								</li>
							</ul>
						</div>
						<div class="wq-box_3 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
							<h4>Contato</h4>
							<ul class="wq-footer_contatos">
									<li>
										<a href="mailto:">
											<img src="img/footer_icone-1.png" alt="" title="">
											<div>
												<p>
													<span>solicite um orçamento</span>
													contato@globocopiadoras.com.br
												</p>
											</div>
										</a>
									</li>
									<li>
										<a href="tel:">
											<img src="img/footer_icone-2.png" alt="" title="">
											<div>
												<p>
													<span>TELEvendas</span>
													62 3261-1177
												</p>
											</div>
										</a>
									</li>
								<li>
									<a href="">
										<img src="img/footer_icone-3.png" alt="" title="">
										<div>
											<p>
												<span>WHATSApp</span>
												62 9.9695-4146</p>
										</div>
									</a>
								</li>
								<li>
									<img src="img/footer_icone-4.png" alt="" title="">
									<div>
										<p>
											<span>nos faça uma visita</span>
											RUA PIRAPITINGA QD 73 LOTE 03 BAIRRO SANTA GENOVEVA, GOIÂNIA - GO, 74670-350
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="wq-footer_bottom">
				<div class="wq-container">
					<div class="wq-flex">
						<p>© 2020 | Globo Soluções em Impressão | all rights reserved | CNPJ: 03.064.495/0001-00</p>
						<p>
							Desenvolvido por:
							<a href="https://atomdigital.com.br/" target="_blank">
								<img src="img/logo-atom.png" alt="" title="">
							</a>
						</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
